<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="link-bar">
            <a href="/">Main</a>
            <a href="/contacts/">Contacts</a>
            <a href="/auth/">Auth</a>
        </div>

        <% if (username) { %>
            <p class="user-session-name"><%=username %></p>
        <% } %>
    </header>

    <main>
        <p>Contacts page</p>
        <p>City: <%=city %></p>
        <p>Region: <%=region %></p>
        <p>Country: <%=country %></p>
        <p>Year: <%=year %></p>
    </main>
</body>
</html>